{% extends 'admin/admin_news.html' %}

{% block title_news_status %}Черновики{% endblock %}
{% block date_news %}Время создания{% endblock %}
{% block content_news_admin %}
		{% for post in posts %}
		<div class="row text-center bg-white no-gutters p-2 mb-1">
			<div class="col-md-1 d-flex align-items-center justify-content-center">
				<p class="text-dark mb-0 font-weight-bold sharp_id">{{ post.id }}</p>
			</div>
			<div class="col-md-2 d-flex align-items-center justify-content-center">
				<p class="text-dark mb-0">{{ post.created_date }}</p>
			</div>
			<div class="col-md-4 d-flex align-items-center justify-content-center">
				<a href="{% url 'post_detail' pk=post.id %}"><p class="text-dark mb-0">{{ post.title }}</p></a>
			</div>
			<div class="col-md-3 d-flex align-items-center justify-content-center">
				<p class="text-dark mb-0 font-weight-bold">
				{% if post.author.last_name and post.author.first_name %}
				    {{ post.author.first_name }} {{ post.author.last_name }}
				{% else %}
				    {{ post.author }}
				{% endif %}
				</p>
			</div>
			<div class="col-md-2 d-flex align-items-center justify-content-center">
				<a href="{% url 'post_publish' pk=post.pk %}"><p class="font-size-2  mb-0 raport" title="Опубликовать"><i class="fa fa-bullhorn mr-3" aria-hidden="true"></i></p></a>
				<a href="{% url 'post_edit' pk=post.pk %}" title="Редактировать"><p class="font-size-2 mr-3 mb-0 raport"><i class="fa fa-pencil" aria-hidden="true"></i></p></a>
				<a href="{% url 'post_remove' pk=post.pk %}" title="Удалить"><p class="font-size-2  mb-0 raport"><i class="fa fa-times" aria-hidden="true"></i></p></a>
			</div>
		</div>
		{% endfor %}
{% endblock %}