{% extends 'admin/base_admin.html' %}

{% block content_admin %}
		<div class="row text-center no-gutters p-2 bg-green">
				<div class="col-12 p-2 text-center">
					<h4 class="mb-0 text-white text-uppercase croper"><i class="fa fa-users mr-2"></i>Персонал</h4>
				</div>
		</div>
		<div class="row no-gutters bg-green">
			<div class="col-12 p-0">
				<table class="table table table-light table-striped mb-0">
					<thead>
						<tr>
							<th scope="col">Имя</th>
							<th scope="col">Фамилия</th>
							<th scope="col">Должность</th>
							<th scope="col">Фото</th>
							<th scope="col" class="p-1"><a href="{% url 'admin_workers_new' %}" class="raport font-size-2"><i class="fa fa-plus mr-1" aria-hidden="true"></i></a></th>
						</tr>
					</thead>
					<tbody>
						{% for worker in workers %}
						<tr>
							<td scope="row">{{ worker.first_name }}</td>
							<td>{{ worker.last_name }}</td>
							<td>{{ worker.job }}</td>
							<td><a href="{{ worker.photo_url }}" target="_blank"><i class="fa fa-camera-retro font-size-2 raport" aria-hidden="true"></i></a></td>
							<td>
								<a href=""><p class="font-size-1 mb-0 mr-2 raport d-inline"><i class="fa fa-pencil" aria-hidden="true"></i></p></a>
								<a href=""><p class="font-size-1  mb-0 raport d-inline"><i class="fa fa-times" aria-hidden="true"></i></p></a>
							</td>
						</tr>
						{% endfor %}
						{% block new_worker %}{% endblock %}
					</tbody>
				</table>
			</div>
		</div>
{% endblock %}