{% extends 'admin/admin_workers.html' %}

{% block new_worker %}
		<tr class="bg-dark">
			<td scope="row">
				<div class="input-field">
					<input type="text" class="form-control" id="to-place" placeholder="Норвегия"/>
				</div>
			</td>
			<td>
				<div class="input-field">
					<input type="text" class="form-control" id="to-place" placeholder="Норвегия"/>
				</div>
			</td>
			<td>
				<div class="input-field">
					<input type="text" class="form-control" id="to-place" placeholder="Норвегия"/>
				</div>
			</td>
			<td>
				<div class="input-field">
					<input type="file" class="form-control-file fileinput" id="fileinput"/>
				</div>
			</td>
			<td>
				<a href=""><p class="font-size-2  mb-0 raport d-inline text-white"><i class="fa fa-check-circle" aria-hidden="true"></i></p></a>
			</td>
		</tr>
{% endblock %}