{% extends 'admin/admin_workers.html' %}

{% block new_worker %}
		<tr>
			<td scope="row">
				<div class="input-field">
					<input type="text" class="form-control custom-inp" id="to-place" placeholder="Норвегия"/>
				</div>
			</td>
			<td>
				<div class="input-field">
					<input type="text" class="form-control custom-inp" id="to-place" placeholder="Норвегия"/>
				</div>
			</td>
			<td>
				<div class="input-field">
					<input type="text" class="form-control custom-inp" id="to-place" placeholder="Норвегия"/>
				</div>
			</td>
			<td>
				<div class="input-field">
					<input type="text" class="form-control custom-inp" id="to-place" placeholder="Норвегия"/>
				</div>
			</td>
			<td>
				<a href=""><p class="font-size-1  mb-0 raport d-inline"><i class="fa fa-check" aria-hidden="true"></i></p></a>
			</td>
		</tr>
{% endblock %}