{% extends 'base-x.html' %}
	{% block hero %}
		<div class="hero">
			<div class="overlay"></div>
			<div class="cover" data-stellar-background-ratio="0.5" style="background-image: url('/static/images/bg-cz.jpg');">
				<div class="desc">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-5">
								<div class="get-tour animate-box">
									<div class="col-12 text-center bg-orange py-2">
										<h4 class="text-white m-0"><i class="icon-map mr-3"></i>Поиск тура</h4>
										</div>
									<div class="row m-4">
											<div class="col-sm-6 mb-2">
												<div class="input-field">
													<label for="from">Город:</label>
													<input type="text" class="form-control" id="from-place" placeholder="Осло"/>
												</div>
											</div>
											<div class="col-sm-6 mb-2">
												<div class="input-field">
													<label for="from">Страна:</label>
													<input type="text" class="form-control" id="to-place" placeholder="Норвегия"/>
												</div>
											</div>
											<div class="col-md-12 col-xl-4"><label for="">Дата выезда</label></div>
											<div class="col-md-6 col-xl-4 mb-2 alternate">
												<div class="input-field">
													<label for="date-start">С:</label>
													<input type="text" data-date-format="mm.dd.yyyy" class="form-control" id="date-start" placeholder="мм/дд/гггг"/>
												</div>
											</div>
											
											<div class="col-md-6 col-xl-4 mb-2 alternate">
												<div class="input-field">
													<label for="date-end">По:</label>
													<input type="text" class="form-control" id="date-end" placeholder="мм/дд/гггг"/>
												</div>
											</div>
											<div class="col-sm-4"><label for="">Количество дней</label></div>
											<div class="col-6 col-sm-4 mb-2 alternate">
												<div class="input-field">
													<label for="date-start">От:</label>
													<input type="text" class="form-control" id="inday" placeholder="1"/>
												</div>
											</div>
											
											<div class="col-6 col-sm-4 mb-2 alternate">
												<div class="input-field">
													<label for="date-end">До:</label>
													<input type="text" class="form-control" id="outday" placeholder="14"/>
												</div>
											</div>
											<div class="col-sm-4"><label for="">Стоимость тура</label></div>
											<div class="col-sm-4 mb-2 alternate">
												<div class="input-field">
													<label for="date-start">От:</label>
													<input type="text" class="form-control" id="costmin" placeholder="1000"/>
												</div>
											</div>
											
											<div class="col-sm-4 mb-2 alternate">
												<div class="input-field">
													<label for="date-end">До:</label>
													<input type="text" class="form-control" id="costmax" placeholder="10000"/>
												</div>
											</div>
											
											<div class="col-md-6 mb-2">
												<section>
													<label for="class">Класс тура:</label>
													<select class="cs-select cs-skin-border">
														<option value="" disabled selected>Все</option>
														<option value="Бюджет">Бюждет</option>
														<option value="Комфорт">Комфорт</option>
														<option value="Премиум">Премиум</option>
													</select>
												</section>
											</div>
											<div class="col-md-6 mb-2">
												<section>
													<label for="class">Тип тура:</label>
													<select class="cs-select cs-skin-border">
														<option value="" disabled selected>Все</option>
														<option value="Авиатур">Авиатур</option>
														<option value="Автобусный тур">Автобусный</option>
														<option value="Экскурссионный тур">Экскурссионный</option>
														<option value="Пляжный тур">Пляжный</option>
													</select>
												</section>
											</div>
											<div class="col-sm-12">
												<button type="submit" class="btn btn-primary btn-block"><i class="icon-search3 mr-2"></i>Поиск</button>
											</div>
										</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-7">
								<div class="desc2 animate-box">
									<p>Автобусный тур</p>
									<h2>R21.7  ПРАГА (3 дня) + ЗАМКИ ЧЕХИИ</h2>
									<h3>Узнаем Чехию поближе, друг!</h3>
									<span class="price">18157&#8381;</span>
									 <p><a class="btn btn-primary btn-lg" href="#">Поехали!</a></p> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block content %}
		{% block content_ex %}
    	{% endblock %}
    {% endblock %}
    {% block testomonial %}
		<div id="testimonial">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 offset-md-2 text-center heading">
						<h2>Отзывы клиентов</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-testimony animate-box">
							<blockquote>
								<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
								<p>&ldquo;Большое спасибо за наш отдых в Испании в Салоу на побережье Коста Дорада. В Барселону ездили в зоопарк и аквариум, были в Монако и Монте Карло, в Ницце, в Портавентуре.  Отель Belvedere 3* на самом деле очень классный, расположение просто супер!&rdquo;</p>
							</blockquote>
							<p class="author">Галина Павлова<span class="subtext">24.03.2018</span></p>
						</div>
						
					</div>
					<div class="col-md-4">
						<div class="box-testimony animate-box">
							<blockquote>
								<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
								<p>&ldquo;Спасибо большое за прекрасный сервис, летали в Сочи, быстро все оформили, консультанты работают качественно, советую всем))...&rdquo;</p>
							</blockquote>
							<p class="author">Марк Петров <span class="subtext">20.03.2018</span></p>
						</div>
						
						
					</div>
					<div class="col-md-4">
						<div class="box-testimony animate-box">
							<blockquote>
								<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
								<p>&ldquo;Покупали у вас тур в Турцию в отель Long Beach Resort 5*.  По отдыху скажу кратко: понравилось практически все.  Из Белгорода в Турцию летели вполне комфортно, за время в полете даже покормили немножко.   Питание, напитки, обслуживание в отеле на высшем уровне и придраться практически не к чему.&rdquo;</p>
							</blockquote>
							<p class="author">Антон Полозов<span class="subtext">06.03.2018</span></p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	{% endblock %}