{% extends 'worldtravelapp/tours/tours.html' %}
{% load static %}

{% block tours_type %}
	<div class="row row-bottom-padded-md">
		<div class="col-md-6 animate-box mb-3">
			<h3>Пляжные туры</h3>
			<p>Для многих путешественников выбор пляжного отдыха является отличной возможностью отдохнуть от мирской суеты, получить шикарный шоколадный загар и заняться водными видами спорта. Отпуск у многих людей ассоциируется с теплым солнцем, кристально чистым морем, золотистым пляжем и сочными красками подводного мира. Пляжный отдых на морских побережьях это, прежде всего, обогащение организма полезными витаминами и вклад в крепкое здоровье.</p>
			<p>Самые лучшие варианты для отдыха всей семьей предлагают Греция, Турция, Египет, Испания, Черногория, Болгария, Тунис, Хорватия.</p>
		</div>
		<div class="col-md-6 animate-box">
			<img class="img-fluid img-thumbnail" src="{% static 'worldtravelapp/images/prev_3.jpg' %}" alt="travel">
		</div>
	</div>
{% endblock %}