{% extends 'worldtravelapp/tours/tours.html' %}
{% load static %}

{% block bottom-content %}{% endblock %}
{% block tours_type %}
	<div class="row row-bottom-padded-md">
		<div class="col-md-6 animate-box mb-3 order-2 order-md-1">
			<h3>Экскурсионные туры</h3>
			<p>Туристам, которым надоел спокойный скучный пляжный отдых, наверняка по душе придется экскурсионный тур. Экскурсионные туры могут дать огромное количество полезной насыщенной информации по поводу быта, досуга и истории разных стран и все чаще становятся выбором активных любознательных путешественников.</p>
			<p>Пройтись по самой узкой улочке в Праге, насладиться вкуснейшими круассанами и видом на Эйфелеву башню в Париже, посетить шикарные древние замки Рима и торговые центры в Милане, все это сочетать в одной поездке возможно, если выбрать наши экскурсионные туры.</p>
		</div>
		<div class="col-md-6 animate-box order-0 order-md-1 mb-2 mb-md-0">
			<img class="img-fluid img-thumbnail" src="{% static 'worldtravelapp/images/prev_2.jpg' %}" alt="travel">
		</div>
	</div>
{% endblock %}