{% extends 'worldtravelapp/tours/tours.html' %}
{% load static %}

{% block bottom-content %}{% endblock %}
{% block tours_type %}
	<div class="row row-bottom-padded-md">
		<div class="col-md-6 animate-box mb-3">
			<h3>Активный туризм</h3>
			<p>Все больше туристов предпочитают отдыхать активно скучному проведению отпуска на пляже. Экстремальный туризм оставит гораздо более яркие впечатления, которые вы будете помнить всю жизнь, нежели поездка в комфортабельный отель в Турции. Наиболее популярные направления - это сплавы (рафтинг), джип-туры, путешествия на велосипедах и квадроциклах, на лошадях и другие виды отдыха и экстремального туризма. Мы предлагаем увлекательные туры, которые оставят незабываемые впечатления в вашей жизни.</p>
		</div>
		<div class="col-md-6 animate-box  order-md-first">
			<img class="img-fluid img-thumbnail" src="{% static 'worldtravelapp/images/prev_4.jpg' %}" alt="travel">
		</div>
	</div>
{% endblock %}