{% extends 'worldtravelapp/tours/tours.html' %}
{% load static %}

{% block tours_type %}
	<div class="row row-bottom-padded-md">
		<div class="col-md-6 animate-box mb-3">
			<h3>Туры выходного дня</h3>
			<p>Поездки на уикенд пользуются заслуженной популярностью туристов: в кратчайшие сроки можно выпасть из рутины трудовых будней и неплохо развеяться вдали от родного дома. И на рынке туров выходного дня успели сложиться свои фавориты. В первую очередь, конечно, это туры по ближайшим окрестностям Москвы и Петербурга и городам Золотого кольца — они исключительно интересны и расположены совсем рядом с мегаполисами.</p>
		</div>
		<div class="col-md-6 animate-box order-md-first">
			<img class="img-fluid img-thumbnail" src="{% static 'worldtravelapp/images/prev_1.jpg' %}" alt="travel">
		</div>
	</div>
{% endblock %}