{% extends 'worldtravelapp/admin/base_admin.html' %}

{% block content_admin %}
<div class="row no-gutters">
	<div class="col-12 bg-green">
		<h4 class="my-2 text-white text-uppercase text-center"><i class="fa fa-star mr-2" aria-hidden="true"></i>Мои желания</h4>
	</div>
	<div class="col-12 p-0">
		<div class="row no-gutters mb-1">
			{% if orders %}
			<div class="col-12 px-1 pt-1">
				<div class="row no-gutters pb-2 pt-0 d-none d-md-flex">
					<div class="col-md-9 offset-md-3 ">
						<div class="row no-gutters">
							<div class="col-md-5 text-center">
								<p class="mb-0 font-weight-bold">Название тура</p>
							</div>
							<div class="col-md-3 text-center">
								<p class="mb-0 font-weight-bold">Дата</p>
							</div>
							<div class="col-md-3 text-center">
								<p class="mb-0 font-weight-bold">Сумма</p>
							</div>
							<div class="col-md-1 text-center">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="col-12">
				{% for order in orders %}
				<div class="row no-gutters text-center bg-white mb-1">
					<div class="col-md-3">
						<img src="{{ order.tour.photo_url }}" alt="" class="img-fluid">
					</div>
					<div class="col-md-9">
						<div class="row no-gutters">
							<div class="col-md-5 p-2 pl-3">
								<p class="mb-0 big-discript"><span class="font-weight-bold">{{ order.tour.type_tour }}{{ order.tour.pk }}</span> {{ order.tour.title }}</p>
							</div>
							<div class="col-md-3 p-2">
								<p class="mb-0 descript">{{ order.tour_date }}</p>
							</div>
							<div class="col-md-3 p-2">
								<p class="money mb-0 descript">{{ order.price|floatformat:0 }}</p>
							</div>
							<div class="col-md-1 p-2">
								<a class="text-dark font-size-2" href="{% url 'order_desire_remove' pk=order.pk %}">&#x2718;</a>
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-md-2 d-flex align-items-center p-3">
								<span class="text-orange font-size-3">
									{% if order.tour.type_tour == 'EXC' %}
									<i class="icon-camera mr-2" title="Экскурсионный тур"></i>
									{% elif order.tour.type_tour == 'BEA' %}
									<i class="icon-anchor mr-2"></i>
									{% elif order.tour.type_tour == 'WEE' %}
									<i class="icon-wine mr-2"></i>
									{% elif order.tour.type_tour == 'ACT' %}
									<i class="icon-compass mr-2"></i>
									{% endif %}
								</span>
								<span class="text-orange font-size-3">
									{% if order.tour.transport == 'AUT' %}
									<i class="fa fa-bus" title="Автобусный тур"></i>
									{% elif order.tour.transport == 'AVI' %}
									<i class="fa fa-plane"></i>
									{% elif order.tour.transport == 'CRU' %}
									<i class="fa fa-ship"></i>
									{% endif %}
								</span>
							</div>
							<div class="col-md-2 offset-md-6 p-3 d-flex align-items-center">
								<a href="{% url 'order_new' pk=order.pk %}"><button class="btn btn-primary">Заказать</button></a>
							</div>
						</div>
					</div>
				</div>
				{% empty %}
				<div class="row no-gutters bg-white p-4">
					<div class="col-12 text-center">
						<p class="font-size-xl mb-0"><i class="fa fa-star mr-2" aria-hidden="true"></i></p>
						<p class="font-size-2 text-uppercase">Список желаний пуст</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}