{% extends 'worldtravelapp/admin/base_admin.html' %}

{% block content_admin %}
<div class="row bg-white mb-2">
	<div class="col-12 p-2 text-center">
		<h4 class="mb-0 text-dark text-uppercase"><i class="fa fa-cogs mr-2" aria-hidden="true"></i>Настройки</h4>
	</div>
	<div class="col-md-12">
		<div class="row bg-green p-3">
		<div class="col-md-2 p-3">
			<img src="/static/images/profile-photo.jpg" class="img-fluid rounded-circle w-75 d-none d-md-flex" alt="">
		</div>
		<div class="col-md-10">
			<blockquote class="blockquote-edit p-2 bg-white">
				<p class="mb-0 font-weight-bold text-center">R28.0 Прага - Мюнхен - Вена - Баварские Замки</p>
				<hr class="hr-margin-low">
				<span class="tringle">&#9668;</span>
				<p>&ldquo;Большое спасибо за наш отдых в Испании в Салоу на побережье Коста Дорада. В Барселону ездили в зоопарк и аквариум, были в Монако и Монте Карло, в Ницце, в Портавентуре.  Отель Belvedere 3* на самом деле очень классный, расположение просто супер!&rdquo;</p>
				<span class="text-dark font-weight-bold mx-2"><i class="fa fa-pencil mr-1" aria-hidden="true"></i>Редактировать</span>
				<span class="font-weight-bold"><i class="fa fa-trash mr-1" aria-hidden="true"></i>Удалить</span>
				<span class="subtext text-right float-right font-italic px-3"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>24.03.2018</span>
			</blockquote>
		</div>
	</div>
	</div>
</div>
{% endblock %}