{% extends 'base-xx.html' %}


{% block title %}
Новости
{% endblock %}

{% block title-page %}
Новости
{% endblock %}

{% block description %}
Все самые свежие новости из жизни нашей компании, туризма вцелом, и многое другое!
{% endblock %}

{% block content_ex %}
	<div class="container">
		<div class="row row-bottom-padded-md">
			{% for post in posts %}
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="blog animate-box">
					<a href="{% url 'post_detail' pk=post.pk %}">
						<img class="img-fluid" src="{{ post.photo_url|default_if_none:'#' }}" alt="">
					</a>
					<div class="blog-text">
						<div class="prod-title">
							<h3 class="mb-3"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
							<div class="row mb-2">
								<div class="col-12">
									<span class="posted_by mb-0">{{ post.published_date }}</span>
								</div>
								<div class="col-12">
									<span class="mb-0 font-weight-bold"><i class="icon-user mr-1"></i>{{ post.author }}</span>
								</div>
							</div>
							<p>{{ post.short_descript|linebreaksbr }}</p>
							<p><a href="{% url 'post_detail' pk=post.pk %}">Подробнее...</a></p>
						</div>
					</div> 
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}