{% extends 'worldtravelapp/base-x+.html' %}
{% load widget_tweaks %}
	{% block hero %}
		<div class="hero">
			<div class="overlay"></div>
			<div class="cover" data-stellar-background-ratio="0.5" style="background-image: url({{ advertise.banner.url }});">
				<div class="desc">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-5">
								<div class="get-tour animate-box">
									<div class="col-12 text-center bg-orange py-2">
										<h4 class="text-white m-0"><i class="icon-map mr-3"></i>Поиск тура</h4>
										</div>
										<form action="{% url 'tours' %}" method="GET">
									<div class="row m-4">
											<div class="col-sm-6 mb-2">
												<div class="input-field">
													<label for="city-tour">Город:</label>
													{% render_field form.city class="form-control" id="city-tour" placeholder="Осло" %}
												</div>
											</div>
											<div class="col-sm-6 mb-2">
												<div class="input-field">
													<label for="country">Страна:</label>
													{% render_field form.country class="form-control" id="country" placeholder="Норвегия" %}
												</div>
											</div>
											<div class="col-md-12 col-xl-4"><label for="">Дата выезда</label></div>
											<div class="col-md-6 col-xl-4 mb-2 alternate">
												<div class="input-field">
													<label for="for-date">С:</label>
													{% render_field form.date_for data-date-format="yyyy-mm-dd" class="form-control" id="for-date" placeholder="гггг-мм-дд" %}
												</div>
											</div>
											
											<div class="col-md-6 col-xl-4 mb-2 alternate">
												<div class="input-field">
													<label for="to-date">По:</label>
													{% render_field form.date_to data-date-format="yyyy-mm-dd" class="form-control" id="to-date" placeholder="гггг-мм-дд" %}
												</div>
											</div>
											<div class="col-sm-4"><label for="">Количество дней</label></div>
											<div class="col-6 col-sm-4 mb-2 alternate">
												<div class="inday">
													<label for="date-start">От:</label>
													{% render_field form.inday class="form-control" id="inday" placeholder="1" %}
												</div>
											</div>
											
											<div class="col-6 col-sm-4 mb-2 alternate">
												<div class="outday">
													<label for="date-end">До:</label>
													{% render_field form.outday class="form-control" id="outday" placeholder="14" %}
												</div>
											</div>
											<div class="col-sm-4"><label for="">Стоимость тура</label></div>
											<div class="col-sm-4 mb-2 alternate">
												<div class="input-field">
													<label for="price-for">От:</label>
													{% render_field form.price_for class="form-control" id="price-for" placeholder="1000" %}
												</div>
											</div>
											
											<div class="col-sm-4 mb-2 alternate">
												<div class="input-field">
													<label for="price_to">До:</label>
													{% render_field form.price_to class="form-control" id="price-to" placeholder="100000" %}
												</div>
											</div>
											
											<div class="col-md-6 mb-2">
												<section>
													<label for="transport">Транспорт:</label>
													{% render_field form.transport class="cs-select cs-skin-border" id="transport" %}
												</section>
											</div>
											<div class="col-md-6 mb-2">
												<section>
													<label for="type">Тип тура:</label>
													{% render_field form.filter_tour class="cs-select cs-skin-border" id="type" %}
												</section>
											</div>
											<div class="col-sm-12">
												<button type="submit" class="btn btn-primary btn-block"><i class="icon-search3 mr-2"></i>Поиск</button>
											</div>
										</div>
										</form>
								</div>
							</div>
							<div class="col-sm-6 col-lg-7">
								<div class="desc2 animate-box">
									<p>Автобусный тур</p>
									<h2 class="text-uppercase">{{ advertise.tour.type_tour }}{{ advertise.tour.pk }} {{ advertise.tour.title }}</h2>
									<h3>{{ advertise.text }}</h3>
									<span class="money font-size-3 font-weight-bold mr-2 text-dark"><strike>{{ advertise.tour.price }}</strike></span><span class="price money">{{ advertise.tour.discount_get }}</span>
									 <p><a class="btn btn-primary btn-lg" href="{% url 'tour_detail' pk=advertise.tour.pk %}">Поехали!</a></p> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block content_x+ %}
		{% block content_ex %}
    	{% endblock %}
    {% endblock %}