{% extends 'worldtravelapp/admin/admin_workers.html' %}
{% load widget_tweaks %}

{% block content_worker %}
		<tr class="bg-gray">
			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.first_name class="form-control" placeholder="Имя" autofocus="autofocus" %}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.last_name class="form-control" placeholder="Фамилия" %}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.job class="form-control" placeholder="Должность" %}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.photo class="form-control-file" %}
				</div>
			</td>
			<td>
				<button type="submit"  class="font-size-1 btn btn-second"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
			</td>
			</form>
		</tr>
{% endblock %}