{% extends 'worldtravelapp/admin/base_admin.html' %}

{% block content_admin %}
		<div class="row no-gutters">
				<div class="col-12 p-2 text-center bg-green">
					<h4 class="mb-0 text-white text-uppercase croper"><i class="fa fa-map-marker mr-2"></i>Страна</h4>
				</div>
			<div class="col-12 p-0">
				<table class="table table table-light table-striped mb-0 add-700-table">
					<thead>
						<tr>
							<th scope="col">Код</th>
							<th scope="col">Страна</th>
							<th scope="col">Континент</th>
							<th scope="col">Фото</th>
							<th scope="col" class="p-1"><a href="{% url 'admin_countrys_new' %}" class="raport font-size-2"><i class="fa fa-plus mr-1" aria-hidden="true"></i></a></th>
						</tr>
					</thead>
					<tbody>
						{% block content_countrys %}{% endblock %}
						{% for country in countrys %}
						<tr>
							<td scope="row">{{ country.pk }}</td>
							<td>{{ country.title }}</td>
							<td>{{ country.continent }}</td>
							<td>{% if country.photo %}<a href="{{ country.photo_url }}" target="_blank"><i class="fa fa-camera-retro font-size-2 raport" aria-hidden="true"></i></a>{% else %}<span class="font-weight-bold">нет</span>{% endif %}</td>
							<td>
								<a href="{% url 'admin_countrys_edit' pk=country.pk %}"><p class="font-size-1 mb-0 mr-2 raport d-inline"><i class="fa fa-pencil" aria-hidden="true"></i></p></a>
								<a href="{% url 'admin_countrys_remove' pk=country.pk %}"><p class="font-size-1  mb-0 raport d-inline"><i class="fa fa-times" aria-hidden="true"></i></p></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if not countrys %}
				<div class="col-12 p-0 bg-white mb-1 text-center">
					<p class="font-size-xl mb-0"><i class="fa fa-plane mr-2" aria-hidden="true"></i></p>
					<p class="font-size-2 text-uppercase">Список стран пуст</p>
				</div>
				{% endif %}
			</div>
		</div>
{% endblock %}
