{% extends 'worldtravelapp/admin/base_admin.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block content_admin %}
<div class="row no-gutters">
	<div class="col-12 p-2 text-center bg-green">
		<h4 class="mb-0 text-white text-uppercase"><i class="fa fa-plane mr-2" aria-hidden="true"></i>Туры</h4>
	</div>
	<div class="col-md-12 p-2">
		<div class="row no-gutters text-orange">
			<div class="col-8 offset-sm-2">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{% bootstrap_form days_form %}
					{% buttons %}
					<div class="col-12 text-center">
						<button type="submit"  class=" btn btn-primary"><i class="fa fa-check-circle mr-2" aria-hidden="true"></i>Сохранить</button>
					</div>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}