{% extends 'worldtravelapp/admin/admin_citys.html' %}
{% load widget_tweaks %}

{% block content_citys %}
		<tr class="bg-dark">
			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<td class="pt-3">
				<div class="input-field">
					{{ city.pk }}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.title class="form-control" placeholder="Название" autofocus="autofocus" %}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.country class="form-control" placeholder="Страна" %}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.photo class="form-control-file" %}
				</div>
			</td>
			<td>
				<button type="submit"  class="font-size-2 btn btn-light"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
			</td>
			</form>
		</tr>
{% endblock %}