{% extends 'worldtravelapp/admin/admin_news.html' %}

{% block time_content %}
Время публикации
{% endblock %}
{% block type_content %}
Опубликованные
{% endblock %}
{% block date_content %}
{{ post.published_date }}
{% endblock %}
{% block news_empty %}
{% if not posts %}
	<div class="col-12 p-0 bg-white mb-1 text-center">
		<p class="font-size-xl mb-0"><i class="fa fa-newspaper-o mr-2" aria-hidden="true"></i></p>
		<p class="font-size-2 text-uppercase">Список новостей пуст</p>
	</div>
{% endif %}
{% endblock %}