{% extends 'worldtravelapp/admin/admin_countrys.html' %}
{% load widget_tweaks %}

{% block content_countrys %}
		<tr class="bg-gray">
			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<td class="pt-3">
				<div class="input-field">
					<p class="font-size-2 mb-0">#</p>
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.title class="form-control" placeholder="Название" autofocus="autofocus" %}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.continent class="form-control" placeholder="Конинент" %}
				</div>
			</td>
			<td class="pt-3">
				<div class="input-field">
					{% render_field form.photo class="form-control-file" %}
				</div>
			</td>
			<td>
				<button type="submit"  class="font-size-1 btn btn-second"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
			</td>
			</form>
		</tr>
{% endblock %}