{% extends 'worldtravelapp/admin/admin_news.html' %}

{% block time_content %}
Время создания
{% endblock %}
{% block type_content %}
Черновики
{% endblock %}
{% block date_content %}
{{ post.created_date }}
{% endblock %}
{% block publish_go %}
<a href="{% url 'post_publish' pk=post.pk %}"><span class="font-size-1 mb-0 raport" title="Опубликовать"><i class="fa fa-bullhorn mr-2" aria-hidden="true"></i></span></a>
{% endblock %}
{% block news_empty %}
{% if not posts %}
	<div class="col-12 p-0 bg-white mb-1 text-center">
		<p class="font-size-xl mb-0"><i class="fa fa-newspaper-o mr-2" aria-hidden="true"></i></p>
		<p class="font-size-2 text-uppercase">Черновик пуст</p>
	</div>
{% endif %}
{% endblock %}