{% extends 'worldtravelapp/base.html' %}
{% load widget_tweaks %}

{% block title %}
Администрирование
{% endblock %}

{% block content %}
	<div class="modal-dialog" role="document">
		<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
				</div>
				<div class="modal-body">
					 {% if form.errors %}
				        <p class="text-danger">Ваше имя и пароль не совпадают. Попробуйте ещё раз.</p>
				    {% endif %}
					<form method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Имя пользователя:</label>
							{% render_field form.username type="text" class="form-control" id="recipient-name" %}
						</div>
						<div class="form-group">
							<label for="password-field" class="col-form-label">Пароль:</label>
							{% render_field form.password type="password" class="form-control" id="password-field" %}
						</div>
					
					<a class="btn-link" href="{% url 'auth_sign_up' %}">Регистрация</a>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Войти</button>
				</div>
				</form>
			</div>
		</div>
{% endblock %}