{% extends 'worldtravelapp/base.html' %}
{% load widget_tweaks %}

{% block title %}
Администрирование
{% endblock %}

{% block content %}
	<div class="modal-dialog" role="document">
		<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
				</div>
				<form class="needs-validation font-weight-bold" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<label for="username_field">Имя пользователя</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-user-o" aria-hidden="true"></i></span>
								</div>
								{% render_field user_form.username placeholder="Имя пользователя" class="form-control" id="username_field" %}
							</div>
						</div>
						<div class="col-md-12 mb-3">
							<label for="password_field">Пароль</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-lock pr-1" aria-hidden="true"></i></span>
								</div>
								{% render_field user_form.password placeholder="Пароль" class="form-control" id="password_field" type="password" %}
							</div>
						</div>
						<div class="col-md-12 mb-3">
							<label for="email_field">Электронная почта</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
								</div>
								{% render_field user_form.email placeholder="E-mail" class="form-control" id="email_field" %}
							</div>
						</div>
						<div class="col-md-12 mb-3">
							<label for="tel_field">Телефон</label>
							<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-phone"></i></span>
							</div>
							{% render_field user_profile_form.tel placeholder="Телефон" class="form-control" id="tel_field" %}
						</div>
						</div>
						<a class="btn-link" href="{% url 'auth_login' %}">Уже есть аккаунт?</a>
					</div>
				</div>
				<div class="collapse" id="collapseModal">
					<div class="modal-footer">
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<label for="first_name_field">Имя</label>
							{% render_field user_form.first_name placeholder="Имя" class="form-control" id="first_name_field" %}
						</div>
						<div class="col-md-12 mb-3">
								<label for="last_name_field">Фамилия</label>
								{% render_field user_form.last_name placeholder="Фамилия" class="form-control" id="last_name_field" %}
						</div>
						<div class="col-md-12 mb-3">
							<label for="city_field">Город</label>
							{% render_field user_profile_form.city placeholder="Город" class="form-control" id="city_field" %}
						</div>
						<div class="col-md-12 mb-3">
							<label for="birthday_field">День рождения</label>
							{% render_field user_profile_form.birthday placeholder="дд.мм.гггг" class="form-control" id="birthday_field" data-date-format="dd.mm.yyyy" %}
						</div>
						<div class="col-md-12 mb-3">
							<div class="custom-file">
								{% render_field user_profile_form.avatar class="custom-file-input" id="avatar_field" %}
								<label class="custom-file-label" for="avatar_field">Загрузить фото</label>
							</div>
						</div>
						</div>
				</div>
				</div>	<div class="modal-footer">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-8 order-md-2 mb-3 mb-md-0"><button class="btn btn-dark" type="submit">Зарегистрироваться</button></div>
								<div class="col-md-4"><a class="text-dark" href="#collapseModal" data-toggle="collapse"><i class="fa fa-get-pocket mr-2" aria-hidden="true"></i>Больше</a></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
{% endblock %}